<h2>Busca Tu Personaje</h2>

<form action="/{{formAction}}" method="POST" class="form-search">
    <input type="text" name="name" placeholder="Buscar un Personaje" required>
    <button type="submit">Buscar</button>
</form>
<p class="error-message">{{error}}</p>