<nav class="nav">
  <ul>
    <li><a href="/"> Home </a></li>
    <li><a href="/acerca"> Acerca </a></li>
    <li><a href="/contacto"> Contacto </a></li>
    <li><a href="/upload"> Cargar archivos </a></li>
  </ul>
</nav>