<nav class="nav">
  <ul>
    <li><a href="/"> Home </a></li>
    <li><a href="/ventas"> Ventas </a></li>
    <li><a href="/buscar"> Buscar </a></li>
    <li><a href="/contacto"> Contacto </a></li>
    <li><a href="/upload"> Cargar archivos </a></li>
  </ul>
</nav>