<h1>Crear Nuevo Personaje</h1>
<form action="/misPersonajes/crear" method="POST" enctype="multipart/form-data">
  <label for="name">Nombre:</label>
  <input type="text" id="name" name="name" required><br><br>

  <label for="ki">Ki:</label>
  <input type="text" id="ki" name="ki" required><br><br>

  <label for="maxKi">Max Ki:</label>
  <input type="text" id="maxKi" name="maxKi" required><br><br>

  <label for="race">Raza:</label>
  <input type="text" id="race" name="race" required><br><br>

  <label for="gender">Genero:</label>
  <input type="text" id="gender" name="gender" required><br><br>

  <label for="description">Descripcion:</label>
  <input type="text" id="description" name="description" required><br><br>

  <label for="affiliation">Afiliacion:</label>
  <input type="text" id="affiliation" name="affiliation" required><br><br>

  <label for="image">Imagen:</label>
  <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png, .webp"><br><br>

  <button type="submit">Crear Personaje</button>
</form>